POSTGRES_USER=organabo
POSTGRES_PASSWORD=organabo
POSTGRES_DB=organabo
POSTGRES_PORT=5432
FRONTEND_PORT=5173
API_PORT=8080
SEAWEED_ACCESS_KEY=organabo
SEAWEED_SECRET_KEY=organabo
SEAWEED_BUCKETS=models,artifacts
SEAWEED_S3_PORT=8333
SEAWEED_ADMIN_PORT=9333
